@model IEnumerable<WebApplication1.Models.EventModel>


<div class="container">
    <br />
    <h3>Edit Event</h3>
    <hr />
    @foreach(var eve in Model)
                {
                    <form method="post" asp-action="Edit" asp-controller="Event">

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Title, new { @class = "control-label" })
                            @Html.TextBoxFor(m => eve.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => eve.Title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => eve.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => eve.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(m => eve.Date, new { @class = "control-label" })
                            @Html.TextBoxFor(m => eve.Date, String.Format("0:dd/MM/yyyy"), new { @class = "form-control", type = "Date" })
                            @Html.ValidationMessageFor(m => eve.Date, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Location, new { @class = "control-label" })
                            @Html.TextBoxFor(m => eve.Location, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => eve.Location, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Starttime, new { @class = "control-label" })
                            @Html.TextBoxFor(m => eve.Starttime, new { @class = "form-control", type = "Time" })
                            @Html.ValidationMessageFor(m => eve.Starttime, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Type, new { @class = "control-label" })
                            @Html.DropDownList("Type", new List<SelectListItem> {
                                    new SelectListItem {Text="Public"},
                                    new SelectListItem {Text="Private"}
                                    }, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Duration, new { @class = "control-label" })
                            @Html.DropDownList("Duration", new List<SelectListItem> {
                                    new SelectListItem {Text="1"},
                                    new SelectListItem {Text="2"},
                                    new SelectListItem {Text="3"},
                                    new SelectListItem {Text="4"}
                                    }, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Invitations, new { @class = "control-label" })
                            @Html.EditorFor(m => eve.Invitations, new { htmlAttributes = new { @class = "form-control", placeholder = "Write emails separated by comma" } })
                            @Html.ValidationMessageFor(m => eve.Invitations, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Description, new { @class = "control-label" })
                            @Html.TextAreaFor(m => eve.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => eve.Details, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => eve.Details, new { @class = "control-label" })
                            @Html.TextAreaFor(m => eve.Details, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => eve.Details, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"> Edit Event</button>
                        </div>
                    </form>

                }
    <div>
        @Html.ActionLink("Back to List", "MyEvents")
    </div>
</div>