@{
    ViewData["Title"] = "GetEventByTitle";
}


@model IEnumerable<WebApplication1.Models.EventModel>

<style>
    .table, th, tr {
        width: 15in;
        border: 2px solid pink;
    }
</style>


<div class="container">
    <h3 class="display-4">Details</h3><br />
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="thead">
                <tr>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>Type</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Details</th>
                    <th>Invitations</th>
                </tr>
            </thead>
            @foreach (var eve in Model)
            {
                <tbody class="tbody">
                    <tr>
                        <td>@Html.DisplayFor(m => eve.Title)</td>
                        <td>@Html.DisplayFor(m => eve.Email)</td>
                        <td>@Html.DisplayFor(m => eve.Date)</td>
                        <td>@Html.DisplayFor(m => eve.Location)</td>
                        <td>@Html.DisplayFor(m => eve.Starttime)</td>
                        <td>@Html.DisplayFor(m => eve.Type)</td>
                        <td>@Html.DisplayFor(m => eve.Duration)</td>
                        <td>@Html.DisplayFor(m => eve.Description)</td>
                        <td>@Html.DisplayFor(m => eve.Details)</td>
                        <td>@Html.DisplayFor(m => eve.Invitations)</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>
